<head>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <title>글자를 세는 페이지를 만들겁니다.</title>
    </head>

<div class="container">
<h1>About</h1>

<p>
    <span style="color:#92B3B7">
    안녕하세요 여기는 글자수를 알려주는 웹페이지 입니다. 여기서 글자를 세세요.
    </span>
</p>


<a class="btn btn-default" href="{%url 'home'%}" role="button">HOME으로 돌아가기</a>
</div>